# Imports 
- Padas means Panel Data
- Numpy means Numberic in python

In [2]:
import pandas as pd
import numpy as np

### Three type of data ploting
- Series
- Dataframe
- Panels

In [3]:
pd.Series([[10,20],[30,40],[50,60]],index=[3,4,5])

3    [10, 20]
4    [30, 40]
5    [50, 60]
dtype: object

In [4]:
pdDict = {'India': 'NewDelhi', 'UK': 'London', 'Japan': 'Tokyo'}
pd.Series(pdDict)

India    NewDelhi
UK         London
Japan       Tokyo
dtype: object

In [5]:
seriesCapCntry = pd.Series(['NewDelhi','WashingtonDC','London','Paris'],index=['India','USA','UK','France'])
print(seriesCapCntry['India'],seriesCapCntry[0],"\n")
print(seriesCapCntry[[3,2]],"\n")

NewDelhi NewDelhi

France     Paris
UK        London
dtype: object

/tmp/ipykernel_7426/906043541.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(seriesCapCntry['India'],seriesCapCntry[0],"\n")
/tmp/ipykernel_7426/906043541.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(seriesCapCntry[[3,2]],"\n")

In [6]:
print(seriesCapCntry[1:4],"\n")
print(seriesCapCntry['USA':'France'],"\n")
print(seriesCapCntry[::-1],"\n")

USA       WashingtonDC
UK              London
France           Paris
dtype: object

USA       WashingtonDC
UK              London
France           Paris
dtype: object

France           Paris
UK              London
USA       WashingtonDC
India         NewDelhi
dtype: object

## Question 5

In [7]:
print(f"Question A :\n{pd.Series(['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'])}")

print(f"\nQuestion B :\n{pd.Series([0,0,0,0,0],index=['a','e','i','o','u'])}")

print(f"\nQuestion C :\n{pd.Series({'ansh':36,'ankit':35,'tej':8,'trupal':14,'hiren':34})}")

print(f"\nQuestion D :\n{pd.Series([0,0,0,0,0],index=['a','e','i','o','u']).empty}")

print(f"\nQuestion E :\n{pd.Series(np.array([31,28,31,30,31,30,31,30,31,30,31,30]),index=range(1,13))}")

Question A :
0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

Question B :
a    0
e    0
i    0
o    0
u    0
dtype: int64

Question C :
ansh      36
ankit     35
tej        8
trupal    14
hiren     34
dtype: int64

Question D :
False

Question E :
1     31
2     28
3     31
4     30
5     31
6     30
7     31
8     30
9     31
10    30
11    31
12    30
dtype: int64

## Question 6

In [8]:
vowels = pd.Series([0,0,0,0,0],index=['a','e','i','o','u'])

vowels['a':'u']=10
print(f"\nQuestion A :\n{vowels}")

print(f"\nQuestion B :\n{vowels/2}")

vowels1 = vowels.copy()
vowels1['a':'u'] = 2,5,6,3,8
print(f"\nQuestion C :\n{vowels1}")

vowels3 = vowels + vowels1
print(f"\nQuestion D :\n{vowels3}")

print(f"\nQuestion E :\nSubtract\n{vowels-vowels1}\nMultiply\n{vowels*vowels1}\nDivide\n{vowels/vowels1}")

vowels1.index = 'A','E','I','O','U'
print(f"\nQuestion F :\n{vowels1}")

Question A :
a    10
e    10
i    10
o    10
u    10
dtype: int64

Question B :
a    5.0
e    5.0
i    5.0
o    5.0
u    5.0
dtype: float64

Question C :
a    2
e    5
i    6
o    3
u    8
dtype: int64

Question D :
a    12
e    15
i    16
o    13
u    18
dtype: int64

Question E :
Subtract
a    8
e    5
i    4
o    7
u    2
dtype: int64
Multiply
a    20
e    50
i    60
o    30
u    80
dtype: int64
Divide
a    5.000000
e    2.000000
i    1.666667
o    3.333333
u    1.250000
dtype: float64

Question F :
A    2
E    5
I    6
O    3
U    8
dtype: int64

## Question 7

In [9]:
print(f"\nQuestion A :\n{vowels.ndim}")

vowels.name = "Vowels"
print(f"\nQuestion B :\n{vowels}")

Friends = pd.Series({'ansh':36,'ankit':35,'tej':8,'trupal':14,'hiren':34})
MonthDays = pd.Series(np.array([31,28,31,30,31,30,31,30,31,30,31,30]),index=range(1,13))
Friends.index.name = "Students"
MonthDays.index.name = "Months"
print(f"\nQuestion C :\n{Friends}\n\n{MonthDays}")

print(f"\nQuestion D :\n{Friends[1:3]}")

EngAlh = pd.Series(['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'])
print(f"\nQuestion E :\n{EngAlh[4:-10]}")

print(f"\nQuestion F :\n{EngAlh[:11]}")

print(f"\nQuestion G :\n{EngAlh[:-11:-1]}")

Question A :
1

Question B :
a    10
e    10
i    10
o    10
u    10
Name: Vowels, dtype: int64

Question C :
Students
ansh      36
ankit     35
tej        8
trupal    14
hiren     34
dtype: int64

Months
1     31
2     28
3     31
4     30
5     31
6     30
7     31
8     30
9     31
10    30
11    31
12    30
dtype: int64

Question D :
Students
ankit    35
tej       8
dtype: int64

Question E :
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
dtype: object

Question F :
0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
dtype: object

Question G :
25    z
24    y
23    x
22    w
21    v
20    u
19    t
18    s
17    r
16    q
dtype: object

## Question 8

In [10]:
print(f"\nQuestion A :\n")
print(f"\nQuestion B :\n{MonthDays[::-1]}")
print(f"\nQuestion  :\n")

Question A :


Question B :
Months
12    30
11    31
10    30
9     31
8     30
7     31
6     30
5     31
4     30
3     31
2     28
1     31
dtype: int64

Question  :

## Question 9

In [11]:
listVal = {
'2014': pd.Series([100.5,12000,2000,50000],index=['Kusum','Kinshuk','Ankit','Shruti']),
'2015': pd.Series([150.8,18000,50000,60000],index=['Kusum','Kinshuk','Ankit','Shruti']),
'2016': pd.Series([200.9,22000,70000,70000],index=['Kusum','Kinshuk','Ankit','Shruti']),
'2017': pd.Series([30000,30000,10000,80000],index=['Kusum','Kinshuk','Ankit','Shruti']),
'2018': pd.Series([40000,45000,125000,90000],index=['Kusum','Kinshuk','Ankit','Shruti'])    
}
listVal = pd.DataFrame(listVal)
print(listVal)

            2014     2015     2016   2017    2018
Kusum      100.5    150.8    200.9  30000   40000
Kinshuk  12000.0  18000.0  22000.0  30000   45000
Ankit     2000.0  50000.0  70000.0  10000  125000
Shruti   50000.0  60000.0  70000.0  80000   90000

In [12]:
dFrameEmt = pd.DataFrame(vowels)
print(dFrameEmt)

listDict = [{'a':10,'b':20},{'a':5,'b':10,'c':20},{'a':5,'b':10,'c':20,'d':60},{'a':5,'b':10,'c':20,'d':80,'e':90}]
dFrameEmt = pd.DataFrame(listDict,index=range(1,len(listDict)+1))
print("\n",dFrameEmt)

   Vowels
a      10
e      10
i      10
o      10
u      10

     a   b     c     d     e
1  10  20   NaN   NaN   NaN
2   5  10  20.0   NaN   NaN
3   5  10  20.0  60.0   NaN
4   5  10  20.0  80.0  90.0

In [13]:
listDict = [{'a':10,'b':20},{'a':5,'b':10,'c':20},{'a':5,'b':10,'c':20,'d':60}]
pd.DataFrame(listDict)

    a   b     c     d
0  10  20   NaN   NaN
1   5  10  20.0   NaN
2   5  10  20.0  60.0

In [14]:
dictForect = {'State':['Assam','Delhi','Kerala']
             ,'GArea':[345,3453,5464]}
pd.DataFrame(dictForect)

    State  GArea
0   Assam    345
1   Delhi   3453
2  Kerala   5464

In [15]:
resultSheet = {
    'Arnab':pd.Series([43,23,12,45],index=['Maths','Science','English','OS']),
    'Vishal':pd.Series([345,132,234],index=['Maths','Science','English']),
    'Ankit':pd.Series([12,23,34],index=['Maths','Science','English']),
    'Harsh':pd.Series([456,234,456],index=['Maths','Science','English'])
}
resultSheet['Tej'] = pd.Series([345,56,67,56],index=['OOCP','PPT','OOC','OS'])
resultSheet = pd.DataFrame(resultSheet)
resultSheet.loc['VR'] =[12,34,45,67,78]
resultSheet.loc['OS','Ankit':'Tej'] = 45

print(resultSheet)

         Arnab  Vishal  Ankit  Harsh    Tej
English   12.0   234.0   34.0  456.0    NaN
Maths     43.0   345.0   12.0  456.0    NaN
OOC        NaN     NaN    NaN    NaN   67.0
OOCP       NaN     NaN    NaN    NaN  345.0
OS        45.0     NaN   45.0   45.0   45.0
PPT        NaN     NaN    NaN    NaN   56.0
Science   23.0   132.0   23.0  234.0    NaN
VR        12.0    34.0   45.0   67.0   78.0

In [16]:
resultSheet.drop("English",axis=0,inplace=True)

In [17]:
resultSheet.rename({'Maths':'Sub1','OOC':'Sub2','OOCP':'Sub3'},axis='index',inplace=True)
print(resultSheet)

         Arnab  Vishal  Ankit  Harsh    Tej
Sub1      43.0   345.0   12.0  456.0    NaN
Sub2       NaN     NaN    NaN    NaN   67.0
Sub3       NaN     NaN    NaN    NaN  345.0
OS        45.0     NaN   45.0   45.0   45.0
PPT        NaN     NaN    NaN    NaN   56.0
Science   23.0   132.0   23.0  234.0    NaN
VR        12.0    34.0   45.0   67.0   78.0

In [18]:
resultSheet.rename({'Arnab':'Student1','Vishal':'Student2','Ankit':'Student3','Harsh':'Student4','Tej':'Student5'},axis='columns')

         Student1  Student2  Student3  Student4  Student5
Sub1         43.0     345.0      12.0     456.0       NaN
Sub2          NaN       NaN       NaN       NaN      67.0
Sub3          NaN       NaN       NaN       NaN     345.0
OS           45.0       NaN      45.0      45.0      45.0
PPT           NaN       NaN       NaN       NaN      56.0
Science      23.0     132.0      23.0     234.0       NaN
VR           12.0      34.0      45.0      67.0      78.0

In [19]:
resultSheet.loc['OS','Arnab']

np.float64(45.0)

In [20]:
resultSheet.loc[:,'Ankit']

Sub1       12.0
Sub2        NaN
Sub3        NaN
OS         45.0
PPT         NaN
Science    23.0
VR         45.0
Name: Ankit, dtype: float64

In [21]:
resultSheet.loc[['Science','VR']]

         Arnab  Vishal  Ankit  Harsh   Tej
Science   23.0   132.0   23.0  234.0   NaN
VR        12.0    34.0   45.0   67.0  78.0

In [22]:
resultSheet.loc['Science'] > 50

Arnab     False
Vishal     True
Ankit     False
Harsh      True
Tej       False
Name: Science, dtype: bool

In [23]:
resultSheet.loc['OS':'VR','Arnab':'Vishal']

         Arnab  Vishal
OS        45.0     NaN
PPT        NaN     NaN
Science   23.0   132.0
VR        12.0    34.0

In [24]:
print(resultSheet)
print("\n",resultSheet[[False,False,False,True,True,True,True]])

         Arnab  Vishal  Ankit  Harsh    Tej
Sub1      43.0   345.0   12.0  456.0    NaN
Sub2       NaN     NaN    NaN    NaN   67.0
Sub3       NaN     NaN    NaN    NaN  345.0
OS        45.0     NaN   45.0   45.0   45.0
PPT        NaN     NaN    NaN    NaN   56.0
Science   23.0   132.0   23.0  234.0    NaN
VR        12.0    34.0   45.0   67.0   78.0

          Arnab  Vishal  Ankit  Harsh   Tej
OS        45.0     NaN   45.0   45.0  45.0
PPT        NaN     NaN    NaN    NaN  56.0
Science   23.0   132.0   23.0  234.0   NaN
VR        12.0    34.0   45.0   67.0  78.0

In [25]:
df1 = pd.DataFrame([[1,2,3],[4,5],[6]],columns=['C1','C2','C3'],index=['a','b','c'])
df2 = pd.DataFrame([[2,4,6],[8,10],[12]],columns=['C5','C6','C7'],index=['c','d','e'])
df3 = df1.join(df2)
print(df3)
df3 = pd.concat([df1, df2], axis=1)
print(df3)
df4 = pd.merge(df1,df2, left_index=True, right_index=True, how='outer')
print(df4)
df4 = pd.merge(df1,df2, left_index=True, right_index=True, how='inner')
print(df4)
df4 = pd.merge(df1,df2, left_index=True, right_index=True, how='left')
print(df4)

   C1   C2   C3   C5   C6   C7
a   1  2.0  3.0  NaN  NaN  NaN
b   4  5.0  NaN  NaN  NaN  NaN
c   6  NaN  NaN  2.0  4.0  6.0
    C1   C2   C3    C5    C6   C7
a  1.0  2.0  3.0   NaN   NaN  NaN
b  4.0  5.0  NaN   NaN   NaN  NaN
c  6.0  NaN  NaN   2.0   4.0  6.0
d  NaN  NaN  NaN   8.0  10.0  NaN
e  NaN  NaN  NaN  12.0   NaN  NaN
    C1   C2   C3    C5    C6   C7
a  1.0  2.0  3.0   NaN   NaN  NaN
b  4.0  5.0  NaN   NaN   NaN  NaN
c  6.0  NaN  NaN   2.0   4.0  6.0
d  NaN  NaN  NaN   8.0  10.0  NaN
e  NaN  NaN  NaN  12.0   NaN  NaN
   C1  C2  C3  C5   C6   C7
c   6 NaN NaN   2  4.0  6.0
   C1   C2   C3   C5   C6   C7
a   1  2.0  3.0  NaN  NaN  NaN
b   4  5.0  NaN  NaN  NaN  NaN
c   6  NaN  NaN  2.0  4.0  6.0

In [26]:
import scipy as sp
print(sp.__version__)

1.13.1